.card{
    display: list-item;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0.7%;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-top: 0.7%;

    background-color: rgba(77, 75, 75, 0.438);
    box-shadow: 0px 0px 30px 2px #000;
    padding: 0%;
    border-radius: 30px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
}

.cd{
    padding: 0px;
    width: 5cm;
    height: 5.5cm;
    

     /* white-space: nowrap; 
     overflow: hidden; 
     text-overflow: ellipsis; 
     Word-wrap: break-Word; border-width: 10cm;   */
}

.carding{
    margin-top: 1.5%;
    margin-left: 2.5%;
    margin-right: 1%;
    border-radius: 50px;
    width: 2.5cm;
    height: 2.5cm;
}

.types{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    
    font-size: small;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: rgba(143, 248, 243, 0.938);
    background-color: rgba(245, 245, 245, 0.075);
    
    padding: 0.5px;
    border-radius: 10px;
    margin: 3% 10% 2% 20%;
    
}

.ti{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: max-content;
    height: max-content;

    font-size: larger;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    
    color: rgb(2, 0, 112);
    background-color: rgba(245, 245, 245, 0.150);
    
    border-radius: 20px;
    margin: 0.5% 5% 0.5% 5%;

    white-space: nowrap; 
     overflow: hidden; 
     /* text-overflow: ellipsis;  */
     Word-wrap: break-Word; border-width: 2.5px; 
}